body{
	background: lightblue;
	text-align: center;
}


.pony{
	

	height: 200vh;
	background: url(output-onlinepngtools.png);
	background-position: 0px 400px;
	background-repeat: no-repeat;
	animation: move-good linear 2s;
}

@keyframes move-good{
	from{
		background-position: 0px 400px;
	}
	to{
		background-position: 1000px 400px;	
	}
}


.wrapper{
	width:100%;
	padding:20px;
	box-sizing: border-box;
}

img{
	transform: translate(400px, 400px) 
		   	scale(2)
			rotate(34deg)
}

img.move{
	animation-name: go;
}

#adam img.album {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 100px;
  left: 100px;
}
@keyframes he{
  from {top: 0px;}
  to {top: 200px;}
}



.circle{
	width: 100px;
	padding: 60px 0;
	line-height: 0;
	margin: 60px auto;
	background: pink;
	color: blue;
	border-radius: 50px;
	cursor: pointer;
	transition: background 2s, transform 1s 1s ease;
}

.circle:hover{
	background: yellow;	
	transform: rotate(360deg);

.square{
	width: 100px;
	height: 100px;
	background: red;
}


	

}




















